<div class="container " style="min-height: calc(100vh - 839px);">
    <div class="row mt-5 shadow " >
        <div class="col-6 d-flex align-items-center justify-content-center overflow-hidden" style="height: 500px;">
            <img src="{{sanPham.img}}"
                alt="" class="mh-100 mw-100">
        </div>
        <div class="col-6">
            <h1 class="h6">Merzy</h1>
            <h1 class="h2" style="height: 150px;">{{sanPham.tenSanPham}}</h1>
            <div>
                <span class="badge bg-danger rounded-pill">Freeship TQ</span>
                <span class="badge bg-warning rounded-pill">New</span>
                <span class="badge bg-success rounded-pill">Best</span>
            </div>
            <div class="mt-4 bg-light pt-3 pb-2">
                <div class="text-decoration-line-through h6 text-light-emphasis ms-5"><span>{{sanPham.giaBan}} đ</span></div>
                <div class="text-danger h3 ms-5"><span>{{sanPham.giaNiemYet}} đ</span></div>
              </div>
            <div class="row mt-4 g-1">
                <div class="col-5">
                    <a href="" class="btn btn-danger w-100"><i class="fa-solid fa-location-dot"></i> Chi nhánh còn hàng</a>
                </div>
                <div class="col-4">
                    <button class="btn btn-primary w-100" ng-click="themVaoGioHang()">Thêm vào giỏ hàng</button>
                </div>
                <div class="col-3">
                    <button class="btn btn-danger w-100" ng-click="muaNgay()">Mua ngay</button>
                </div>
            </div>
        </div>
    </div>


</div>