<!-- Bên phải nội dung chính -->
<div class="container mt-3">
    <h3>Chỉnh sửa danh mục</h3>
    <div class="mt-3">
        <span class="form-label">ID</span>
        <input type="text" class="form-control" disabled ng-model="danhMuc.id">
    </div>
    <div class="mt-3">
        <span class="form-label">Tên danh mục:</span>
        <input type="text" class="form-control" ng-model="danhMuc.tenDanhMuc">
    </div>
    <div class="text-center mt-3">
        <a href="#!quan-ly-danh-muc" class="btn btn-secondary "><i class="fa-solid fa-left-long"></i> Quay
            lại</a>
        <a href="" class="btn btn-warning" ng-click="onClickSubmit()"><i class="fa-solid fa-pen-to-square"></i> Update</a>
    </div>

    <div class="alert alert-danger mt-3" ng-if="validateForm.trangThai === false">
        <strong>Form không hợp lệ</strong>
        <br>
        {{validateForm.noiDung}}
    </div>

</div>